{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ArtSearch</title>
    <script src="{% static 'search/search.js' %}" defer></script>
    <link href="{% static 'search/search.css'}" />
  </head>

  <body>
    <h1>ArtSearch</h1>
    <input id="query" placeholder="Describe a painting" />
    <select id="style_dropdown">
      Choose Style
    </select>
    <select id="genre_dropdown">
      Choose Genre
    </select>
    <button id="search_button">Search</button>
    <div id="results"></div>
  </body>
</html>
